## How to Rank Entities with Multi-Criteria Decision Making Methods(MCDM)

### I. Weighted Sum Method
### II. Weighted Product Method
### III. Analytic hierarchy process (AHP — Method)
## LET’S SOLVE A PROBLEM WITH WHATEVER WE HAVE LEARNED SO FAR
I wanted to buy a new mobile phone. So I spend 2–3 hours on Amazon after which I was able to shortlist 5 best smartphones. I was very confused about which phone will be the best value for the money of these 5. So, I followed our learned MCDM techniques —

##### Let’s constructed an Alternate Matrix and Defined Criteria on which we will judge a smartphone.
Best Phone is one with criteria as [Price, Storage, Camera, Looks] → [MIN, MAX, MAX, MAX]
After some thinking about my needs added weightage to each criterion. [Price, Storage, Camera, Looks] → [0.4, 0.2, 0.3, 0.1] (Note: Sum of all weights such be equal to 1)

In [1]:
import numpy as np
import pandas as pd

In [39]:
data=pd.read_excel('mcdm.xlsx')

In [40]:
data.set_index('mobile')

         price  storage  camera  looks
mobile
nokia    17000       12      16      3
samsung  22000       32      32      3
lg       19000       16      64      4
vivo     26000       64     128      2
lenovo   15000        8      32      2

In [41]:
# linear normlization price is non-benificial and other parameters are benificial 
# non benificial Xmin/Xi.......... for benificial Xi/Xmax

data['price']=data['price'].apply(lambda x: data['price'].min()/x)
data['storage']=data['storage'].apply(lambda x: x/data['storage'].max())
data['camera']=data['camera'].apply(lambda x: x/data['camera'].max())
data['looks']=data['looks'].apply(lambda x: x/data['looks'].max())

In [42]:
x=data.drop('mobile',axis=1)

In [43]:
x

      price  storage  camera  looks
0  0.882353   0.1875   0.125   0.75
1  0.681818   0.5000   0.250   0.75
2  0.789474   0.2500   0.500   1.00
3  0.576923   1.0000   1.000   0.50
4  1.000000   0.1250   0.250   0.50

In [44]:
weights=[0.4,0.2,0.3,0.1]

In [45]:
for i,j in zip(x.columns,weights):
    x[i]=x[i].apply(lambda a:a*j)

In [46]:
x['ws']=x.sum(axis=1)

In [55]:
x['rank']=x['ws'].rank(method = 'max',ascending=False)

In [56]:
x

      price  storage  camera  looks        ws  rank
0  0.352941   0.0375  0.0375  0.075  0.502941   5.0
1  0.272727   0.1000  0.0750  0.075  0.522727   4.0
2  0.315789   0.0500  0.1500  0.100  0.615789   2.0
3  0.230769   0.2000  0.3000  0.050  0.780769   1.0
4  0.400000   0.0250  0.0750  0.050  0.550000   3.0